.App {
  width: 50%;
  height: 50%;
  margin: auto;
  .greeting {
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .button {
    width: 50%;
    height: 50%;
    margin: auto;
  }
}

.hide {
  display: none !important;
}

.content-wrapper {
  height: calc(100vh - 112px) !important;
}

.ant-layout-header {
  background: url('../../assets/header-bg.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  color: #000b2d !important;
}

.ant-layout-sider {
  background: white !important;
}

.ant-layout-footer {
  background: url('../../assets/footer-bg.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  color: #000b2d !important;
}

.btn-signin {
  float: right;
  margin-top: 10px;
  background-color: #455cc7 !important;
  border: none !important;
}

.btn-homepage {
  margin-top: 10px;
  float: left;
  margin-left: 20px;
  //background-color: black !important;
  border: none !important;
}

.app-logo {
  width: 30%;
  height: 30%;
  margin: 20px 20px 0 20px;
}

.content-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px !important;
}

.checked {
  color: orange;
}

.user {
  float: right;
}
