.ant-select-selection__choice{
  background-color: #455DC7 !important;
  color: white !important;
}

.ant-select-remove-icon{
  background-color: #697AD2 !important;
  color: white !important;
  padding: 1px 0 1px 0 !important;
}
