.icon-home {
  font-size: 35px;
  color: #455cc7 !important;
  position: absolute;
  top: 11px;
  left: 30px;
  cursor: pointer;
  &:hover {
    font-size: 40px;
    top: 9px;
  }
}

.container-tutors {
  .value {
    margin-bottom: 15px;
  }
  .text-small {
    margin: 0;
  }
}

.btn-register {
  background-color: #455cc7 !important;
  color: white !important;
  border: none !important;
  font-size: 14px !important;
  &:hover {
    border: 1px solid #455cc7 !important;
    background-color: transparent !important;
    color: #455cc7 !important;
  }
}
