.container-tutors {
  height: 80% !important;
  padding: 10px;
  max-height: calc(100vh - 130px - 40px);
  overflow: auto;
  .card-tutor {
    margin: 10px 20px 5px 10px;
    width: unset !important;
    cursor: pointer;
    height: 28vh;
  }
  .tag {
    margin: 5px 3px;
  }
  .text-small {
    font-size: 11px !important;
  }
  .title {
    margin-top: 10px;
  }
}
