.container-tutors {
  padding: 10px;
  max-height: calc(100vh - 130px - 40px);
  .card-tutor {
    margin: 0 18px 8px 0;
    width: unset !important;
    cursor: pointer;
  }
  .tag {
    margin: 5px 3px;
  }
  .text-small {
    font-size: 11px !important;
  }
  .title {
    margin-top: 10px;
  }
}
