.container-slider {
  margin: 0;
  float: left;
  .slider {
    color: #000 !important;
    .image-slider {
      width: 100px;
      height: 63px;
      object-fit: cover;
      margin: 0 40px;
    }
    color: #000 !important;
  }
}
